

.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ani{
    width: 70%;
    height: 70px;
    position: relative;
    overflow: hidden;
    span{
      position: absolute;
      font-size: 3rem;
      line-height: 4.2rem;
    }
  }
}